<div class="container w-50 py-5 text-center">
    <div class="row">
        <div class="col">
            <h3>{{ pick.0.staffPick.name }}</h3>
            <img class="img-fluid" src="https://via.placeholder.com/274x145" alt="" srcset="">
            <p class="text-color-success pt-3">{{pick.2.item.price}}€</p>
            <div class="d-grid gap-2 col-sm mx-auto">
                <button class="btn btn-success shadow-sm mt-2 mt-md-0">Add to cart</button>
            </div>
        </div>
        <div class="col d-none d-lg-block">
            <ul class="list-group">
                {% for item in pick %}
                    <li class="list-group-item list-group-item-dark">{{item.item.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>