<h2>Staff Picks</h2>

<div class="container my-5">
    <div
        class="carousel slide text-center"
        id="carouselStaffPicks"
        data-bs-ride="carousel"
        data-bs-interval="5000"
        data-bs-touch="true"
    >
        <div class="carousel-indicators">
            {% for index in staff_picks_indexes %}
            <button
                {% if index == staff_picks_indexes|first %} class="active" {% endif %}
                type="button"
                data-bs-target="#carouselStaffPicks"
                data-bs-slide-to="{{index}}"
                {% if index == staff_picks_indexes|first %} aria-current="true" {% endif %}
                aria-label="Slide {{index|add:1}}"
            ></button>
            {% endfor %}
        </div>

        <div class="carousel-inner">
            {% comment %} <div class="carousel-item active">
                {% include 'base/staff-picks-carousel/staff-picks-carousel-item.html' with pickInfo="Guitar 1" %}
            </div> {% endcomment %}
            {% for pick in staff_picks %}
                <div class="carousel-item {% if pick == staff_picks|first %} active {% endif %}">
                    {% include 'base/staff-picks-carousel/staff-picks-carousel-item.html' %}
                </div>
            {% endfor %}
        </div>

        <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselStaffPicks"
            data-bs-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselStaffPicks"
            data-bs-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
