{% load static %}
<div
    class="offcanvas offcanvas-end bg-custom-dark"
    tabindex="-1"
    id="offcanvasCart"
    aria-labelledby="offcanvasCartLabel"
>
    <div class="offcanvas-header">
        <h1 class="offcanvas-title" id="offcanvasCartLabel">
            Cart
        </h1>
        <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
        ></button>
    </div>
    <div class="offcanvas-body">
        <!-- TODO: Display the chosen cart item / configuration -->
        {% if order.configurations.all %}
        <ol class="list-group list-group-numbered">
            {% for order_item in order.configurations.all %}
            <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ order_item.configuration.name }} <span class="text-danger">x{{ order_item.quantity }}</span></div>
                    <div class="d-flex justify-content-between align-items-center">
                        <img src="{% static order_item.configuration.configuration_items.all.0.image_url %}" alt="" class="w-50">
                        <span class="fst-italic text-success">€{{ order_item.total_price }}</span>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ol>

        <div class="d-grid gap-2 mt-5">
            <span>Total: €{{ order.total_price }}</span> 
            <a href="{% url 'order-summary' %}" class="btn btn-warning btn-lg">Proceed to checkout</a>
        </div>
        {% else %}
        <p class="fst-italic text-color-info">No items in cart</p>
        <div class="d-grid gap-2 mt-5">
            <button class="btn btn-warning btn-lg" disabled>Proceed to checkout</button>
        </div>
        {% endif %}
    </div>
</div>
