{% extends 'index.html' %} 
{% load static %}
{% block content %}
{% for item in items %}
<div class="accordion-item bg-light">
    <div class="accordion-header">
        <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content{{item.configuration.id}}" aria-expanded="true" aria-controls="#content{{item.configuration.id}}">
                    <div class="fw-bold">{{ item.configuration.name }} <span class="text-danger">x{{ item.quantity }}</span></div>
                    <div class="d-flex justify-content-between align-items-center">
                        <img src="{% static item.configuration.configuration_items.all.0.image_url %}" alt="" class="w-25">
                        <span class="fst-italic text-success">€{{ item.total_price }}</span>
                    </div>
                </button>
            </div>
        </li>
    </div>
    <div class="accordion-collapse collapse" id="content{{item.configuration.id}}" data-bs-parent="#accordion{{item.configuration.id}}">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for single_item in item.configuration.configuration_items.all %}
                <tr>
                    <td>{{single_item.category.name}}</td>
                    <td>{{single_item}}</td>
                    <td>€{{single_item.price}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endfor %}
{% endblock content %}