{% extends 'index.html' %}
{% load static %}
{% block content %}

{% for item in guitar_models %}
{% include 'base/configurator/radio-button.html' %}
{% endfor %}

<div class="accordion" id="configurator">
    {% for configuration_item in configuration_items %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-{{configuration_item.0.category.slug}}" aria-expanded="true" aria-controls="#content-{{configuration_item.0.category.slug}}">{{configuration_item.0.category}}</button>
        </h2>
        <div class="accordion-collapse collapse" id="content-{{configuration_item.0.category.slug}}" data-bs-parent="#configurator">
            <div class="accordion-body">
                {% for item in configuration_item %}
                {% include 'base/configurator/radio-button.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock content %}