{% load static %}
<div class="container-fluid text-center h-100">
    <div class="configurator-body row d-block d-lg-flex text-center">
        <img src="{% static 'images/guitar-models/strat-design.svg' %}" alt="" class="col-lg-4 img-fluid img-guitar-preview">
        <div class="col-lg-8 input-col">
            <div class="options-container overflow-auto my-2">
                {% if step == 1 %}
                    {% for x in frets %}
                        {% include 'base/configurator/radio-button.html' with x %}
                    {% endfor%}
                {% endif%}
            </div>
            <button class="btn btn-info my-2">Save configuration and quit</button>
            <button class="btn btn-success my-2" {% if step != maxSteps %} disabled {% endif %}>Complete and add to cart</button>
            <p class="text-color-success my-2">Total: {price}€</p>
        </div>
    </div>
</div>
