{% load static %}
<div
    class="modal"
    id="step-{{category.id}}"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="configuratorModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-xl modal-dialog-centered modal-fullscreen-lg-down">
        <div class="modal-content modal-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Choose: {{category}}</h1>
                <button
                    class="btn-close btn-close-white"
                    type="button"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>

            <div class="modal-body">
                <div class="container-fluid text-center h-100">
                    <div
                        class="configurator-body row d-block d-lg-flex text-center"
                    >
                        <div class="img-container col-lg-4 d-flex justify-content-center align-items-center">
                            <img
                                src="{% static 'images/items/strat.png' %}"
                                alt=""
                                class="img-fluid img-guitar-preview"
                            />
                        </div>
                        <div class="col-lg-8 input-col">
                            <div class="options-container overflow-auto my-2">
                                <div class="form-check">
                                    {% for item in items %}
                                        {% if item.category.id == category.id %}
                                            {% if category.slug == "miscellaneous" %}
                                                <label class="">
                                                    <input class="config-input" type="checkbox" name="check-{{item.slug}}" value="{{item.id}}" data-price="{{item.price}}" />
                                                    <span class="config-btn">
                                                        <i class="bi bi-check-square"></i>
                                                        <div class="config-content">
                                                            <img src="{% static item.image_url %}" alt="" class="config-img" />
                                                            <h3 class="config-title">{{ item.name }}</h3>
                                                            <p class="text-color-success fs-6 config-price-text">+{{item.price}}€</p>
                                                        </div>
                                                    </span>
                                                </label>
                                                {% else %}
                                                <label class="">
                                                    <input class="config-input" type="radio" name="radio-{{category.id}}" value="{{item.id}}" data-price="{{item.price}}" />
                                                    <span class="config-btn">
                                                        <i class="bi bi-check-circle"></i>
                                                        <div class="config-content">
                                                            <img src="{% static item.image_url %}" alt="" class="config-img" />
                                                            <h3 class="config-title">{{ item.name }}</h3>
                                                            <p class="text-color-success fs-6 config-price-text">+{{item.price}}€</p>
                                                        </div>
                                                    </span>
                                                </label>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% if user.is_authenticated %}
                            <button type="submit" class="btn btn-info my-2" name="save-and-quit">
                                Save configuration and quit
                            </button>
                            {% endif %}
                            <button
                                type="submit"
                                class="btn btn-success my-2"
                                name="add-to-cart"
                                {% if category.id != max_steps %} disabled {% endif %}
                            >
                            Complete and add to cart
                            </button>
                            <p id="priceText-{{category.id}}" class="text-color-success my-2">
                                Total: €<span id="currentPrice-{{category.id}}">0.00</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!--TODO: replace aria-valuemax with a dynamic value from the database-->
            <div class="modal-footer d-flex justify-content-center">
                {% if category.id == 1 %}
                <button type="button" class="btn btn-outline-info" disabled>
                    <i class="bi bi-caret-left-fill"></i>
                </button>
                {% else %}
                <button
                    type="button"
                    class="btn btn-outline-info"
                    data-bs-target="#step-{{ category.id|add:-1 }}"
                    data-bs-toggle="modal"
                >
                    <i class="bi bi-caret-left-fill"></i>
                </button>
                {% endif %}
                <div class="progress w-25" style="height: 2rem">
                    <div
                        class="progress-bar text-center"
                        role="progressbar"
                        aria-label="Configurator progress"
                        aria-valuemin="0"
                        aria-valuemax="{{ max_steps }}"
                        aria-valuenow="{{ category.id }}"
                        style="width: calc(100% / {{ max_steps }} * {{ category.id }})"
                    >
                        {{ category.id }} / {{ max_steps }}
                    </div>
                </div>
                {% if category.id == max_steps %}
                <button type="button" class="btn btn-outline-info" disabled>
                    <i class="bi bi-caret-right-fill"></i>
                </button>
                {% else %}
                <button
                    type="button"
                    class="btn btn-outline-info"
                    data-bs-target="#step-{{ category.id|add:1 }}"
                    data-bs-toggle="modal"
                >
                    <i class="bi bi-caret-right-fill"></i>
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let configurationInputs{{category.id}} = document.querySelectorAll(".config-input");
    let priceText{{category.id}} = document.getElementById("currentPrice-{{category.id}}");
    let currentPrice{{category.id}} = parseFloat(priceText{{category.id}}.innerText);
    let addToPrice{{category.id}} = 0.00;

    configurationInputs{{category.id}}.forEach((input) => {
        input.addEventListener("click", () => {
            priceText{{category.id}}.innerText = " ";
            newPrice{{category.id}} = currentPrice{{category.id}} + input.dataset.price
            priceText{{category.id}}.innerText = newPrice{{category.id}}.toString();
        })
    })
</script>