<div
    class="modal"
    id="{{model.name}}-configuratorModalStep{{step}}"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="configuratorModalLabel"
    aria-hidden="true"
>
    <div
        class="modal-dialog modal-xl modal-dialog-centered modal-fullscreen-xl-down"
    >
        <div class="modal-content modal-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="configuratorModalLabel">
                    Configure your own {{model.name}}
                </h1>
                <button
                    class="btn-close btn-close-white"
                    type="button"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>

            <div class="modal-body">
                {% include 'base/configurator/configurator-content.html' %}
            </div>

            <!--TODO: replace aria-valuemax with a dynamic value from the database-->
            <div class="modal-footer d-flex justify-content-center">
                {% if step == 1 %}
                <button type="button" class="btn btn-outline-info" disabled>
                    <i class="bi bi-caret-left-fill"></i>
                </button>
                {% else %}
                <button type="button" class="btn btn-outline-info" data-bs-target="#configuratorModalStep{{ step|add:-1 }}" data-bs-toggle="modal">
                    <i class="bi bi-caret-left-fill"></i>
                </button>
                {% endif %}
                <div class="progress w-25" style="height: 2rem">
                    <div
                        class="progress-bar text-center"
                        role="progressbar"
                        aria-label="Configurator progress"
                        aria-valuemin="0"
                        aria-valuemax="{{ maxSteps }}"
                        aria-valuenow="{{ step }}"
                        style="width: calc(100% / {{ maxSteps }} * {{ step }})"
                    >
                        {{ step }} / {{ maxSteps }}
                    </div>
                </div>
                {% if step == maxSteps %}
                <button type="button" class="btn btn-outline-info" disabled>
                    <i class="bi bi-caret-right-fill"></i>
                </button>
                {% else %}
                <button type="button" class="btn btn-outline-info" data-bs-target="#configuratorModalStep{{ step|add:1 }}" data-bs-toggle="modal">
                    <i class="bi bi-caret-right-fill"></i>
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
