{% load static %}
<label class="">
    <input class="config-input" type="radio" name="radio-{{category.id}}" value="{{item.pk}}" />
    <span class="config-btn">
        <i class="bi bi-check-circle"></i>
        <div class="config-content">
            <img src="{% static item.image_url %}" alt="" class="config-img" />
            <h3 class="config-title">{{ item.name }}</h3>
            <p class="text-color-success fs-6 config-price-text">+{{item.price}}€</p>
        </div>
    </span>
</label>
