body {
    background-color: rgb(230, 230, 230);
}

a:link {
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    list-style-type: none;
}

.nav-item {
    margin: auto 10px;
}