{% extends 'index.html' %} 
{% block content %}
<div class="container bg-custom-light shadow-lg h-100">
    <h1>Login</h1>

    <form action="">
        <div class="mb-3">
            <input
                class="form-control"
                type="email"
                name="email"
                id="inputEmail"
                aria-describedby="emailHelp"
                placeholder="Email"
            />
            <div id="emailHelp" class="form-text">
                We'll never share personal data with anyone else.
            </div>
        </div>
        <div class="mb-3">
            <input
                class="form-control"
                type="password"
                name="password"
                id="inputPassword"
                placeholder="Password"
            />
        </div>
        <button type="submit" class="btn btn-success">Login</button>
    </form>

    <p class="fw-light">Don't have an account yet?</p>
    <a
        class="btn btn-primary"
        type="button"
        href="{% url 'register' %}"
    >
        Register
    </a>
</div>
{% endblock content %}
