{% extends 'index.html' %} 
{% block content %}
<div class="container bg-custom-light shadow-lg text-center vh-100">
    <h1 class="py-4">Register</h1>

    <form class="row g-3 w-75 mx-auto p-3 border rounded" action="">
        <div class="col-md-6">
            <input
                class="form-control"
                type="text"
                name="inputFirstName"
                id="inputFirstName"
                placeholder="First Name"
            />
        </div>
        <div class="col-md-6">
            <input
                class="form-control"
                type="text"
                name="inputLastName"
                id="inputLastName"
                placeholder="Last Name"
            />
        </div>

        <div class="col-md-12">
            <input
                class="form-control"
                type="email"
                name="inputEmail"
                id="inputEmail"
                placeholder="Email"
            />
        </div>

        <div class="col-md-12">
            <input
                class="form-control"
                type="text"
                name="inputAddress"
                id="inputAddress"
                placeholder="Address &amp; Number"
            />
        </div>

        <div class="col-md-6">
            <input
                class="form-control"
                type="text"
                name="inputCity"
                id="inputCity"
                placeholder="City"
            />
        </div>
        <div class="col-md-3">
            <input
                class="form-control"
                type="text"
                name="inputState"
                id="inputState"
                placeholder="State"
            />
        </div>
        <div class="col-md-3">
            <input
                class="form-control"
                type="text"
                name="inputZip"
                id="inputZip"
                placeholder="Zip"
            />
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-success">Sign in</button>
        </div>
    </form>

    <p class="fw-light py-4">Already have an account?</p>
    <a
        class="btn btn-primary"
        type="button"
        href="{% url 'login' %}"
    >
        Login
    </a>
</div>
{% endblock content %}