<h1 class="text-center">Configure your own!</h1>

<div class="container text-center pt-5">
    <div class="row">
        <div class="col-md-6 col-lg-3 my-2">
            {% include 'base/guitar-card.html' %}
        </div>
        <div class="col-md-6 col-lg-3 my-2">
            {% include 'base/guitar-card.html' %}
        </div>
        <div class="col-md-6 col-lg-3 my-2">
            {% include 'base/guitar-card.html' %}
        </div>
        <div class="col-md-6 col-lg-3 my-2">
            {% include 'base/guitar-card.html' %}
        </div>
    </div>
</div>
